<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"> </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>About Us</title>
</head>
<body>

    <header>
        <img class="inclineLogo" src="../static/inclineLogo.png" alt="Duquesne Incline Logo">
        <h1 id="mainTitle">About the Incline</h1>
        <div class="menuIcon" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <div class="nav-overlay" id="navOverlay"></div>
    <ul class="nav-links" id="navLinks">
        <li><a href="../index.html" class="webLinks">Home</a></li>
        <li><a href="#" class="webLinks">About the Incline</a></li>
        <li><a href="visiting.html" class="webLinks">Visiting Information</a></li>
        <li><a href="mailingList.html" class="webLinks">Join Our Mailing List</a></li>
        <li><a href="cityTours.html" class="webLinks">City Tours</a></li>
        <li><a href="photoGallery.html" class="webLinks">Photo Gallery</a></li>
    </ul>

    <br><br>
    <div class="container">
        <h1>Our History</h1>
        
        <div class="text-content">
            <p id="shortIntro">The Duquesne Incline is one of those which follows very closely the tracks of an early coal hoist. Old newspapers indicate the existence of such a conveyance as early as 1854. Residents apparently referred to it as "Kirk Lewis' incline" and located it on the present site of The Duquesne Incline's Upper Station. Grandview Avenue was then the High Street, and the area was just beginning to be converted from farmland to homesites. This pleasantly-situated acreage was an excellent area to absorb some of the expanding population of the city, but the problem of easy access was still to be solved.</p>
            <br><br>
            <p id="longIntro">Although plans for a freight and passenger incline are known to have existed much earlier, financial backing was exceedingly hard to find—even the modest sum of $47,000—and actual construction was delayed. Eventually, of course, difficulties were overcome and the Incline was built. It was opened to the public May 20, 1877. The Duquesne Incline was the first Pittsburgh incline designed and built by Samuel Diescher, for Kirk Bigham and Associates. Mr. Diescher, an engineer, had become the country's foremost builder of inclines. He was also to design and build most of those that followed.
            <br><br>
            At the time of its public opening, it was one of four inclined planes serving the summit of Coal Hill, which later came to be known as Mount Washington. The Duquesne Incline was operated, from 1877 until 1962 by The Duquesne Inclined Plane Company. From 1964 until the present, the Incline has been operated by the Society for the Preservation of The Duquesne Heights Incline; it has been owned by the Port Authority of Allegheny County.                                  
            </p>
            <br>
            <img src="../static/history.jpeg" alt="Duquesne Incline Cart and Tracks in Black and White Historical Image" width = "300" height = "250">
        </div>

        <button id="readMoreID">Read More</button>
        <br>
        <button id="readLessID">Read Less</button>
    
    </div>


    <br><br>

    <div class="container">
        <h1>Where are we Located?</h1>
        
        <div class="text-content">
            <h3>1197 WEST CARSON STREET PITTSBURGH, PA. 15219</h3>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.6008022473206!2d-80.02012282407235!3d40.43983757143588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f6af24753323%3A0x391d7b79fc54985b!2sDuquesne%20Incline!5e0!3m2!1sen!2sus!4v1743028318797!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="distance-calculator">
                <h3>How far are you from the Duquesne Incline?</h3>
                <button id="calculateDistance">Calculate Distance</button>
                <p id="distanceResult"></p>
            </div>

            <br>

            <h4>Mailing Address and Wheelchair Acessibility: 1220 Grandview Ave. Pittsburgh, PA. 15211 </h4> <br><br>
            <p>
                Parking:
                1197 West Carson St.
                Pittsburgh, PA. 15219
                <br>
                Phone Number: 412.381.1665
                Fax: 412.381.1943
                <br>
                <a href="mailto:duq.incline@duquesneincline.org">Send us an email</a>
                
            </p>

        </div>
    
    </div>
    <br><br>

    <div class="container">
        <h1>Hear Some Words from our Staff</h1>
        <div class="text-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bSLvrz5GraI?si=7lhNyNQxzSUvz8Zb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>
    
    </div>
    <br><br>

    <div class="external-links">
        <table>
            <tr>
                <th>Visit Our Social Media Sites!</th>
                <th>Click Below!</th>
              </tr>
                <tr>
                  <td>Facebook:</td>
                  <td><a href="https://www.facebook.com/TheDuquesneIncline" target="_blank">
                    <img src="../static/facebookLogo.png" alt="Facebook Logo" width = "100" height = "100" >
                     </a>
                </td>
    
                </tr>
    
                <tr>
                  <td>Visit Pittsburgh:</td>
                  <td> <a href="https://www.visitpittsburgh.com/directory/duquesne-incline/" target="_blank">
                    <img src="../static/visitPghLogo.png" alt="Visit Pittsburgh Logo" width = "100" height = "100" >
                        </a>
                    </td>
                </tr>
    
                <tr>
                    <td>Yelp:</td>
                    <td><a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh" target="_blank">
                        <img src="../static/yelpLogo.png" alt="Yelp Logo" width = "100" height = "100" >
                        </a>
                    </td>
                </tr>
    
        </table>
       
    </div>


    <footer>Copyright © 2009 . All Rights Reserved . <a href="https://docs.google.com/document/d/1ira4a_ri7GdGTHUOQmfMzIMmWs132RdOLTzrWHjnDxY/edit?usp=sharing" target="_blank">Citations Page</a></footer>
   
</body>
</html>

