<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"> </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>City Tours</title>
</head>
<body>

    <header>
        <img class="inclineLogo" src="../static/inclineLogo.png" alt="Duquesne Incline Logo">
        <h1 id="mainTitle">Visiting Information</h1>
        <div class="menuIcon" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <div class="nav-overlay" id="navOverlay"></div>
    <ul class="nav-links" id="navLinks">
        <li><a href="../index.html" class="webLinks">Home</a></li>
        <li><a href="aboutUs.html" class="webLinks">About the Incline</a></li>
        <li><a href="visiting.html" class="webLinks">Visiting Information</a></li>
        <li><a href="mailingList.html" class="webLinks">Join Our Mailing List</a></li>
        <li><a href="#" class="webLinks">City Tours</a></li>
        <li><a href="photoGallery.html" class="webLinks">Photo Gallery</a></li>
    </ul>

    <br><br> 
    <div class="container">
        <h1>City Tours that Feature the Duquesne Incline</h1>
        
        <div class="text-content">

            <a href="https://www.tripadvisor.com/Attraction_Review-g53449-d6706488-Reviews-Pittsburgh_Tours_More-Pittsburgh_Pennsylvania.html" target="_blank"><p class="title">PITTSBURGH TOURS AND MORE</p></a>
             Pittsburgh Movie Locations, Sports, Breweries, Wineries and More. <br>412-323-4707 <br><br>

             <a href="https://www.mollystrolleyspgh.com/" target="_blank"><p class="title">MOLLY’S TROLLEYS</p></a>
             412-281-2055 <br>
            <img src="../static/trolley.avif" alt="Molly's Trolleys Image" width = "200" height="300"><br> <br>



            <a href="https://riversofsteel.com/" target="_blank"><p class="title">RIVERS OF STEEL</p></a>
             412-464-4020 or 412-381-8687 <br> 
             <img src="../static/riversofsteel.jpg" alt="Rivers of Steel Physical Landmark" width = "350" height="250"><br> <br>
            
             <a href="https://www.pghtours.com/" target="_blank"><p class="title">THE PITTSBURGH TOUR COMPANY</p></a>
            Hop on/Hop off Double Decker tour buses from London.  <br>412-381-8687
            

            
        </div>
    
    </div>


    <footer>Copyright © 2009 . All Rights Reserved . <a href="https://docs.google.com/document/d/1ira4a_ri7GdGTHUOQmfMzIMmWs132RdOLTzrWHjnDxY/edit?usp=sharing" target="_blank">Citations Page</a></footer>
   
</body>
</html>