<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"> </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>Visiting Information</title>
</head>
<body>

    <header>
        <img class="inclineLogo" src="../static/inclineLogo.png" alt="Duquesne Incline Logo">
        <h1 id="mainTitle">Visiting Information</h1>
        <div class="menuIcon" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <div class="nav-overlay" id="navOverlay"></div>
    <ul class="nav-links" id="navLinks">
        <li><a href="../index.html" class="webLinks">Home</a></li>
        <li><a href="aboutUs.html" class="webLinks">About the Incline</a></li>
        <li><a href="#" class="webLinks">Visiting Information</a></li>
        <li><a href="mailingList.html" class="webLinks">Join Our Mailing List</a></li>
        <li><a href="cityTours.html" class="webLinks">City Tours</a></li>
        <li><a href="photoGallery.html" class="webLinks">Photo Gallery</a></li>
    </ul>

    <br><br>
    <div class="container">
        <h1>Fares</h1>
        
        <div class="text-content">

            <h3>NO RESERVATIONS OR ADVANCE TICKETS</h3>
            <br>
            Adults (Ages 12-64) $2.50 Each Way or $5.00 Round Trip
            <br>
            Children (Ages 6-11) $1.25 Each Way or $2.50 Round Trip
            <br><br><br>
            Children 5 and Under Free <br>
            University of Pittsburgh Students Free, with proper I.D. <br>
            Carnegie Mellon Students Free, with proper I.D. <br>
            Chatham University Students Free, with proper I.D. <br>
            <br><br>

            <h4>GROUP RATES:</h4>
            <br>

            Group Rates are Valid for Any Group of Ten or More People <br>
            Adults (Ages 12-64) $1.75 Each Way or $3.50 Round Trip <br>
            Children (Ages 6-11) $1.00 Each Way or $1.75 Round Trip <br> <br> <br>
            
            Cash fares as well as Port Authority bus passes and tickets are accepted as payment. <br>

            Seniors age 65 or older who present a blue or yellow PRT card or a Senior Connect Card ride free.

            
        </div>
    
    </div>


    <br><br>

    <div class="container">
        <h1>Field Trips</h1>
        
        <div class="text-content">
            A free field trip program is available for students and youth groups of ten or more daily – except Saturdays and Sundays <br>after 12:00 noon due to weekend crowds and limited space. <br><br>
            The program includes: <br><br>

            A teacher’s lesson packet for students’ specific grade level <br>

            A round trip ride on the Duquesne Incline <br>

            A history of inclines in Pittsburgh <br>

            A discussion about Pittsburgh’s industrial past <br>

            A visit to the machine room to observe the original hoisting equipment in operation and learn about the engineers who built it <br>

            A panoramic view of Downtown Pittsburgh and The North Shore from our observation deck 400 feet above the three rivers <br>

            A brief history of the French and Indian War from which the city arose <br> <br>


            <h4> <a href="https://www.duquesneincline.org/duquesneincline/view.php?id=1" target = "_blank">Click Here to Make Reservations </a></h4>
        </div>
    
    </div>



    <br><br>
    <div class="container">
        <h1>Gift Shop</h1>
        
        <div class="text-content">

            <h4>We offer many one of a kind items that were custom made for the Incline!</h4> <br><br>
            <div class="image-container">
                <div class="image-item">
                    <img src="../static/inclineGlasses.jpg" alt="Shot Glasses sold at the Incline Gift Shop decorated with graphics of the landmark">
                    <p>Shot Glasses (also have slanted ones)</p>
                </div>
                <div class="image-item">
                    <img src="../static/inclineOrnament.jpg" alt="Handmade Incline Wooden Ornament of the Red Cart sold at Incline Gift Shop">
                    <p>Handmade Incline Wooden Ornament</p>
                </div>
            </div> <br><br>

            <h4>…among many, many more one-of-a-kind souveniers waiting for YOU!</h4>
            
        </div>
    
    </div>
    


    <footer>Copyright © 2009 . All Rights Reserved . <a href="https://docs.google.com/document/d/1ira4a_ri7GdGTHUOQmfMzIMmWs132RdOLTzrWHjnDxY/edit?usp=sharing" target="_blank">Citations Page</a></footer>
   
</body>
</html>